{% extends "layout.html" %}
{% block content %}
<div class="header-gradient">
    <div>
        <h1>
            PELO<spa>X</span>
        </h1>
    </div>
</div>
<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-list"><a id="navigation-list" href="#">SUN GLASSES</a></li>
        <li class="navigation-list"><a id="navigation-list"  href="#">FASHION GLASSES</a></li>
        <li class="navigation-list"><a id="navigation-list"  href="#">EMPTY FRAMES</a></li>
    </ul>
</div>
<div class="container">
    <div class="first-segment">
        <div class="first-section-solid-color">

        </div>
        <div class="first-section-slider">
            
        </div>
        <div class="first-section-images">
            
        </div>

        <div class="second-section-solid-color">

        </div>
        <div class="second-section-slider">
            
        </div>
        <div class="second-section-images">
            
        </div>
        <div class="third-section-solid-color">

        </div>
        <div class="third-section-slider">
            
        </div>
        <div class="third-section-images">
            
        </div>

    </div>

    <div class="second-segment">
        <div class="second-segment-items-wrapper">
            <h2 class="categories">Categories</h2>
            <hr>
            <h3 class="second-segment-heads">Brands</h3>
            <ul class="second-segment-list-wrapper">
                <li class="second-segment-list"><a id="second-segment-list" href="#">Gucci</a></li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Louis Vuiton</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Channels</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Dolce and Gabbana</a> </li>
            </ul>
            <hr>
            <h3 class="second-segment-heads">Fashion and Style</h3>
            <ul class="second-segment-list-wrapper">
                <li class="second-segment-list"><a id="second-segment-list" href="#">Native</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Cooperate</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Casual</a> </li>
            </ul>
            <hr>
            <h3 class="second-segment-heads">Weather</h3>
            <ul class="second-segment-list-wrapper">
                <li class="second-segment-list"><a id="second-segment-list" href="#">Summer</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Winter</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Fall</a> </li>
            </ul>
            <hr>
            <h3 class="second-segment-heads">Fun</h3>
            <ul class="second-segment-list-wrapper">
                <li class="second-segment-list"><a id="second-segment-list" href="#">Beach</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Cinema</a> </li>
                <li class="second-segment-list"><a id="second-segment-list" href="#">Party</a> </li>
            </ul>
            <hr>

        </div>

    </div>
</div>

{% endblock content %}